#myNicPanel {
    border: 2px dashed #0000ff;
}
.nicEdit-selected {
    border: 2px solid #0000ff !important;
}

.nicEdit-panel {
    background-color: #fff !important;
}

.nicEdit-button {
    background-color: #fff !important;
}